* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	background-color: #F0F8FF;	
	font-family: calibri;
	
}

h1{
	color: #FF7F50;
	margin-bottom: 30px;
}

#left{
	background-color: white;
	max-width: 800px;
	margin: 0 auto;
}

.simple{
	background-color: white;
	width: 500px;
	margin: 20px auto;
}

.fancy{
	background-color: white;
	width: 500px;
	margin: 20px auto;
	padding: 50px;
	border: solid blue 10px;
}