body{
	background-color: #F0F8FF;	
	font-family: calibri;
	
}

h1{
	color: #FF7F50;
	margin-bottom: 30px;
}

#left{
	width: 300px;
	margin: 0 auto;
	background-color: blue; 
 
}

#right{
	width : 500px;
	margin: 0 auto;
  background-color: red; 
}